
body {
    margin: 0;
    background-image: url(../images/background.png);
    background-image: repeating-radial-gradient();

}


.nav_bar {
    overflow: hidden;
    background-color: var(--corverescuro);
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
}


.nav_bar a, .nav_bar p {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


.nav_bar p{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    margin: auto;
    margin-right: 20%;
    font-style: normal; 
    padding-top: 0%;
    font-size: 2.5rem;
    color: white;
}


.nav_bar a{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 0.2%;
    background-color: rgba(184, 0, 0, 0.5); 
    padding: 0.3% 0.5% 0.3% 0.5%;
    border-radius: 12px;
    
}


.nav_bar a:hover{
    cursor: pointer;
    background-color:rgba(184, 0, 0, 1);
}


.nav_bar i{
    color: var(--coramar);
}


.home_banner {
    background-image: url("/assets/images/banner.png");
    background-position: center;
    height: 440px;
    background-repeat: no-repeat;
    margin-top: 4.2%;
    margin-bottom: 3%;
}


.home_banner h1, .home_banner h3{
    font-size: 3rem;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
        1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
.home_banner h1{
    
    font-size: 5rem;
    margin-left: 18%;
    padding-top: 5%;
}
.home_banner h3{

    margin-left: 58%;
}
.home_banner p{

    padding-top: 3%;
    margin-left: 1%;
    font-size: 1rem;
}
.produto{
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 3px rgba(0,0,0,.15);
    margin: 6%;
}
.prod_es{
    margin-left: 0%;
    margin-right: 12%;
}
.pro_dr{
    margin-left: 12%;
    margin-right: 0%;
}
.produto img{
    border-radius: 12px;
    padding-top: 4%;
    margin: auto;
    display: block;
    width: 70%;
}
.produto h4{
    font-size: 1.5rem;
    text-align: center;
    color: var(--corverclaro);}

.produto p{
    font-size: 1.8rem;
    text-align: center;
    color: var(--corverd);
}
.produto button{
    border: 0;
    background-color: var(--corverd);
    width: 100%;
    padding: 4% 0% 4% 0%;
    font-size: 1.3rem;
    border-radius: 0px 0px 12px 12px;
}
.produto button:hover{
    background-color: #7DAB94;
}

.f1{
    background-color: var(--corverd);
}
.f2{
    background-color: var(--coramar);
}
.f3{
    background-color: var(--corverclaro);
}